<nav>
  <ul>
    <li><% if (typeof isHome != 'undefined') { %><strong>Home</strong><% } else { %><a href="/">Home</a><% } %></li>
    <li><% if (typeof isAdmin != 'undefined') { %><strong>Admin</strong><% } else { %><a href="/admin">Admin</a><% } %></li>
    <% if (isAuth) { %><li><a href="/logout">Logout</a></li><% } -%>
  </ul>
</nav>